<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LBSItem</key>
	<dict>
		<key>names</key>
		<array>
			<string>行政区域</string>
			<string>租金价格</string>
			<string>出租类型</string>
			<string>附近</string>
		</array>
		<key>indexes</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<key>LBSPlace</key>
	<dict>
		<key>names</key>
		<array>
			<string>北京</string>
			<string>朝阳</string>
			<string>海淀</string>
			<string>东城</string>
			<string>西城</string>
			<string>崇文</string>
			<string>宣武</string>
			<string>丰台</string>
			<string>通州</string>
			<string>石景山</string>
			<string>房山</string>
			<string>昌平</string>
			<string>大兴</string>
			<string>顺义</string>
			<string>密云</string>
			<string>怀柔</string>
			<string>延庆</string>
			<string>平谷</string>
			<string>门头沟</string>
		</array>
	</dict>
	<key>LBSPrice</key>
	<dict>
		<key>ranges</key>
		<array>
			<string>随意</string>
			<string>50元以下</string>
			<string>50-100元</string>
			<string>100-150元</string>
			<string>150-200元</string>
			<string>200-250元</string>
			<string>250-300元</string>
			<string>300元以上</string>
		</array>
	</dict>
	<key>LBSRentalMode</key>
	<dict>
		<key>types</key>
		<array>
			<string>随意</string>
			<string>整套出租</string>
			<string>单间出租</string>
			<string>单间出租(隔断)</string>
			<string>床位出租</string>
		</array>
	</dict>
	<key>LBSNearby</key>
	<dict>
		<key>radius</key>
		<array>
			<string>随意</string>
			<string>附近1000米</string>
			<string>附近3000米</string>
			<string>5000米以内</string>
		</array>
	</dict>
</dict>
</plist>
